#music-player {
  background: #222;
  height: 500px;
  padding: 20px 0;
  border-radius: 10px;
  width: 400px;
  
  & li {
    text-align: center;
  }
  
  & iframe {
    width: 235px;
  }
  
  & .track iframe {
    height: 80px;
  }
  
  & .playlist iframe {
    height: 160px;
  }

}


.button {
  background: gray;
  color: white;
  width: 60px;
  height: 40px;

  &.playback {
    background: red;
    margin: 0 10px;
  }
}